<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>user</key>
	<dict>
		<key>UID</key>
		<string>uid</string>
		<key>USERNAME</key>
		<string>username</string>
		<key>QC</key>
		<string>quancheng</string>
		<key>JC</key>
		<string>jiancheng</string>
	</dict>
	<key>user_contact_ofencooperation</key>
	<dict>
		<key>UID</key>
		<string>receiverid</string>
		<key>USERNAME</key>
		<string>receivername</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
	<key>user_info</key>
	<dict>
		<key>UID</key>
		<string>uid</string>
		<key>USERNAME</key>
		<string>username</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
	<key>user_intervate</key>
	<dict>
		<key>UID</key>
		<string>uid</string>
		<key>USERNAME</key>
		<string>username</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
	<key>co_member</key>
	<dict>
		<key>UID</key>
		<string>uid</string>
		<key>USERNAME</key>
		<string>uname</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
	<key>co_newcooperation</key>
	<dict>
		<key>UID</key>
		<string>inviteid</string>
		<key>USERNAME</key>
		<string>invitename</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
	<key>co_newmember</key>
	<dict>
		<key>UID</key>
		<string>applyid</string>
		<key>USERNAME</key>
		<string>applyname</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
	<key>im_group_user</key>
	<dict>
		<key>UID</key>
		<string>uid</string>
		<key>USERNAME</key>
		<string>username</string>
		<key>QC</key>
		<string>quancheng</string>
		<key>JC</key>
		<string>jiancheng</string>
	</dict>
	<key>im_recent</key>
	<dict>
		<key>UID</key>
		<string>contactid</string>
		<key>USERNAME</key>
		<string>contactname</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
	<key>im_recent_1</key>
	<dict>
		<key>UID</key>
		<string>lastmsguser</string>
		<key>USERNAME</key>
		<string>lastmsgusername</string>
	</dict>
	<key>org_user_apply</key>
	<dict>
		<key>UID</key>
		<string>uid</string>
		<key>USERNAME</key>
		<string>username</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
	<key>post</key>
	<dict>
		<key>UID</key>
		<string>releaseuser</string>
		<key>USERNAME</key>
		<string>releaseusername</string>
		<key>QC</key>
		<string></string>
		<key>JC</key>
		<string></string>
	</dict>
</dict>
</plist>
