<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LCM_Icon_24_Edit</key>
	<string>res_edit_select</string>
	<key>LCM_Icon_24_Delete</key>
	<string>res_trash_select</string>
	<key>LCM_Icon_24_Calendar</key>
	<string>icon_calendar_blue</string>
	<key>LCM_Icon_24_List_Btn</key>
	<string>msg_cota_btn_list_default</string>
	<key>LCM_Icon_24_Chat</key>
	<string>cooperation_chat</string>
	<key>LCM_Icon_24_OK</key>
	<string>msg_cota_btn_ok_default</string>
	<key>LCM_Icon_24_Add</key>
	<string>msg_cota_btn_add_default</string>
	<key>LCM_Icon_24_Add2</key>
	<string>msg_cota_plus</string>
	<key>LCM_Icon_24_Setting</key>
	<string>msg_cota_btn_cog_default</string>
	<key>LCM_Icon_24_Add_friend</key>
	<string>dropdown_add_friend</string>
	<key>LCM_Icon_24_Msg</key>
	<string>dropdown_msg</string>
	<key>LCM_Icon_24_Myfiles</key>
	<string>dropdown_myfiles</string>
	<key>LCM_Icon_24_Scan</key>
	<string>dropdown_scan</string>
	<key>LCM_Icon_24_Task_Part</key>
	<string>dropdown_task_part</string>
	<key>LCM_Icon_24_Task_Resp</key>
	<string>dropdown_task_responsible</string>
	<key>LCM_Icon_24_State_all</key>
	<string>dropdown_state_all</string>
	<key>LCM_Icon_24_Post</key>
	<string>dropdown_post</string>
	<key>LCM_Icon_24_Open</key>
	<string>dropdown_open</string>
	<key>LCM_Icon_24_Link</key>
	<string>dropdown_link</string>
	<key>LCM_Icon_24_Group_Normal</key>
	<string>dropdown_group_normal</string>
	<key>LCM_Icon_24_Cloud_Up</key>
	<string>dropdown_cloud_up</string>
	<key>LCM_Icon_24_Add_task</key>
	<string>dropdown_add_task</string>
	<key>LCM_Icon_24_Approve</key>
	<string>dropdown_approve</string>
	<key>LCM_Icon_24_Bell</key>
	<string>dropdown_bell</string>
	<key>LCM_Icon_24_Browser</key>
	<string>dropdown_browser</string>
	<key>LCM_Icon_24_Comment</key>
	<string>dropdown_comment</string>
	<key>LCM_Icon_24_File</key>
	<string>dropdown_file</string>
	<key>LCM_Icon_24_Group_add</key>
	<string>dropdown_group_add</string>
	<key>LCM_Icon_24_Group_close</key>
	<string>dropdown_group_close</string>
	<key>LCM_Icon_24_Group_responsible</key>
	<string>dropdown_group_responsible</string>
	<key>LCM_Icon_24_Group_search</key>
	<string>dropdown_group_search</string>
	<key>LCM_Icon_24_Project</key>
	<string>dropdown_project</string>
	<key>LCM_Icon_24_Task_star</key>
	<string>dropdown_task_star</string>
	<key>LCM_Icon_24_Task_transmit</key>
	<string>dropdown_task_transmit</string>
	<key>LCM_Icon_24_Post_more</key>
	<string>row_post_more</string>
	<key>LCM_Icon_24_Sign_ban</key>
	<string>task_sign_ban</string>
	<key>LCM_Icon_24_Sign_begin</key>
	<string>task_sign_begin</string>
	<key>LCM_Icon_24_Sign_normal</key>
	<string>task_sign_normal</string>
	<key>LCM_Icon_24_Sign_ok</key>
	<string>task_sign_ok</string>
	<key>LCM_Icon_24_Sign_return</key>
	<string>task_sign_return</string>
	<key>LCM_Icon_24_Sign_stop</key>
	<string>task_sign_stop</string>
	<key>LCM_Icon_24_Sign_trash</key>
	<string>task_sign_trash</string>
	<key>LCM_Icon_24_Filter_Default</key>
	<string>msg_cota_btn_funnel_default</string>
	<key>LCM_Icon_24_Filter_Select</key>
	<string>msg_cota_btn_funnel_select</string>
	<key>LCM_Icon_24_More_H</key>
	<string>common_more_icon</string>
	<key>LCM_Icon_24_Share</key>
	<string>icon_share_blue</string>
	<key>LCM_Icon_24_Transparent</key>
	<string>icon_transparent</string>
</dict>
</plist>
