<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>app</key>
	<dict>
		<key>remind</key>
		<array>
			<string>App_Remind</string>
		</array>
		<key>jurisdiction</key>
		<array>
			<string>app_jurisdiction_disabled</string>
			<string>app_jurisdiction_enable</string>
			<string>app_jurisdiction_available</string>
			<string>app_jurisdiction_unavailable</string>
		</array>
	</dict>
	<key>mytransaction</key>
	<dict>
		<key>delete</key>
		<array>
			<string>mytransaction.delete</string>
		</array>
		<key>update</key>
		<array>
			<string>mytransaction.update</string>
		</array>
		<key>add</key>
		<array>
			<string>mytransaction.add</string>
		</array>
	</dict>
	<key>cooperation</key>
	<dict>
		<key>post_reply</key>
		<array>
			<string>cooperation.post_reply.delete</string>
			<string>cooperation.post_reply.insert</string>
		</array>
		<key>postmain</key>
		<array>
			<string>cooperation.postmain.insert</string>
			<string>cooperation.postmain.delete</string>
		</array>
		<key>post_tag</key>
		<array>
			<string>cooperation.post_tag.insert</string>
			<string>cooperation.post_tag.delete</string>
		</array>
		<key>postcue</key>
		<array>
			<string>cooperation.postcue.update</string>
			<string>cooperation.postcue.insert</string>
			<string>cooperation.postcue.delete</string>
		</array>
		<key>post_praise</key>
		<array>
			<string>cooperation.post_praise.insert</string>
			<string>cooperation.post_praise.delete</string>
		</array>
		<key>post_remind</key>
		<array>
			<string>cooperation.postremind.insert</string>
			<string>cooperation.post_remind.count</string>
		</array>
		<key>post_resources</key>
		<array>
			<string>cooperation.post_resources.insert</string>
			<string>cooperation.post_resources.delete</string>
		</array>
		<key>task</key>
		<array>
			<string>cooperation.task.setphasestate</string>
			<string>cooperation.task.setphaseadmin</string>
			<string>cooperation.task.setparent</string>
			<string>cooperation.task.setlock</string>
			<string>cooperation.task.setstate</string>
			<string>cooperation.task.setname</string>
			<string>cooperation.task.createtask</string>
			<string>cooperation.task.taskbasicinfo</string>
			<string>cooperation.task.setmember</string>
			<string>cooperation.task.delmember</string>
			<string>cooperation.task.locktask</string>
			<string>cooperation.task.deltask</string>
			<string>cooperation.task.taskstatechange</string>
			<string>cooperation.task.phase</string>
			<string>cooperation.task.phase.setmember</string>
			<string>cooperation.task.modifymember</string>
		</array>
		<key>project</key>
		<array/>
		<key>workgroup</key>
		<array>
			<string>cooperation.group.setlogo</string>
			<string>cooperation.newhandle</string>
			<string>cooperation.member.del</string>
			<string>cooperation.member.add</string>
			<string>cooperation.group.setmemberstate</string>
			<string>cooperation.group.setname</string>
			<string>cooperation.group.setstate</string>
			<string>cooperation.group.setapplyroot</string>
			<string>cooperation.invitemsg</string>
			<string>cooperation.invite.add</string>
			<string>cooperation.invite.revert</string>
			<string>cooperation.receiveinvite</string>
			<string>cooperation.add</string>
			<string>cooperation.del</string>
			<string>cooperation.invite.send</string>
			<string>cooperation.invite.agree</string>
			<string>cooperation.invite.revoke</string>
			<string>cooperation.invite.disagree</string>
		</array>
		<key>app</key>
		<array>
			<string>cooperation.app.insert</string>
			<string>cooperation.app.phase</string>
			<string>cooperation.app.delete</string>
			<string>cooperation.app.ref.insert</string>
			<string>cooperation.app.ref.phase</string>
			<string>cooperation.app.ref.delete</string>
		</array>
		<key>document</key>
		<array>
			<string>cooperation.document.resource.insert</string>
			<string>cooperation.document.resource.delete</string>
			<string>cooperation.document.resource.update</string>
			<string>cooperation.document.folder.insert</string>
			<string>cooperation.document.folder.delete</string>
			<string>cooperation.document.folder.update</string>
			<string>cooperation.document.resource.move</string>
			<string>cooperation.document.folder.move</string>
		</array>
		<key>log</key>
		<array>
			<string>cooperation.log.add</string>
		</array>
		<key>friend</key>
		<array>
			<string>cooperation.friend.invite</string>
			<string>cooperation.friend.accept</string>
			<string>cooperation.friend.refuse</string>
		</array>
	</dict>
	<key>organization</key>
	<dict>
		<key>org</key>
		<array>
			<string>organization.org.createenter</string>
			<string>organization.org.ucountchange</string>
			<string>organization.org.enterucountchange</string>
			<string>organization.org.disband</string>
			<string>organization.org.updateenterprise</string>
			<string>organization.org.createdepart</string>
			<string>organization.org.updatedepart</string>
			<string>organization.org.deletedepart</string>
			<string>organization.org.adjustuser</string>
			<string>organization.org.updateenterlogo</string>
			<string>organization.org.moveup</string>
			<string>organization.org.movedown</string>
			<string>organization.org.drag</string>
			<string>organization.org.reconstorg</string>
			<string>organization.org.batadjustuser</string>
		</array>
		<key>admin</key>
		<array>
			<string>organization.admin.setadmin</string>
			<string>organization.admin.batchsetadmin</string>
			<string>organization.admin.canceladmin</string>
		</array>
		<key>orguser</key>
		<array>
			<string>organization.orguser.removeuser</string>
			<string>organization.orguser.agreeuserapply</string>
			<string>organization.orguser.refuseapply</string>
			<string>organization.orguser.updateenterusername</string>
			<string>organization.orguser.approveintervate</string>
			<string>organization.orguser.userjoinapply</string>
			<string>organization.orguser.intervateuser</string>
			<string>organization.orguser.revokeinteruser</string>
			<string>organization.orguser.batimportresult</string>
			<string>organization.orguser.batremoveuser</string>
			<string>organization.orguser.batimportilegal</string>
			<string>organization.orguser.userexit</string>
			<string>organization.orguser.setenterusersort</string>
		</array>
	</dict>
	<key>user</key>
	<dict>
		<key>account</key>
		<array>
			<string>user.account.updatemobile</string>
			<string>user.account.updateemail</string>
			<string>user.account.updatepwd</string>
			<string>user.account.cancelbindmobile</string>
			<string>user.account.cancelbindemail</string>
			<string>user.account.cancelbindwechat</string>
			<string>user.account.cancelbindwebo</string>
			<string>user.account.cancelbindqq</string>
		</array>
		<key>basicinfo</key>
		<array>
			<string>user.basicinfo.changeface</string>
			<string>user.basicinfo.updateusername</string>
			<string>user.basicinfo.switchidentitype</string>
			<string>user.basicinfo.setmainoeid</string>
		</array>
		<key>friend</key>
		<array>
			<string>user.friend.removefriend</string>
			<string>user.friend.newfriend</string>
			<string>user.friend.agreefriend</string>
			<string>user.friend.refusefriend</string>
			<string>user.friend.deleteinvite</string>
			<string>user.friend.adjusttag</string>
			<string>user.friend.setespecial</string>
			<string>user.friend.removeespecial</string>
		</array>
		<key>tag</key>
		<array>
			<string>user.tag.addtag</string>
			<string>user.tag.removetag</string>
			<string>user.tag.rename</string>
		</array>
	</dict>
	<key>message</key>
	<dict>
		<key>lzchat</key>
		<array>
			<string>message.lzchat.lzmsgnormal.text</string>
			<string>message.lzchat.image</string>
			<string>message.lzchat.file.download</string>
			<string>message.lzchat.card</string>
			<string>message.lzchat.voice</string>
			<string>message.lzchat.geolocation</string>
			<string>message.lzchat.systemremind.</string>
			<string>message.lzchat.systemremind.creategroup</string>
			<string>message.lzchat.systemremind.adduser</string>
			<string>message.lzchat.systemremind.removeuser</string>
			<string>message.lzchat.systemremind.quitgroup</string>
			<string>message.lzchat.systemremind.assignadmin</string>
			<string>message.lzchat.systemremind.modifyname</string>
			<string>message.lzchat.systemremind.joingroup</string>
			<string>message.lzchat.systemremind.addfriend</string>
			<string>message.lzchat.video</string>
			<string>message.lzchat.microvideo</string>
			<string>message.lzchat.call.voice</string>
			<string>message.lzchat.call.video</string>
			<string>message.lzchat.urllink</string>
			<string>message.lzchat.call.main</string>
			<string>message.lzchat.call.unanswer</string>
			<string>message.lzchat.call.finish</string>
			<string>message.lzchat.call.notice</string>
			<string>message.lzchat.call.receive</string>
			<string>message.lzchat.call.speech</string>
			<string>message.lzchat.sharemsg</string>
			<string>message.lzchat.notice</string>
			<string>message.lzchat.lztemplatemsg.</string>
			<string>message.lzchat.consultnotice</string>
			<string>message.lzchat.lztemplatemsg.cooperationsharefile</string>
			<string>message.lzchat.chatlog</string>
		</array>
		<key>statusmsg</key>
		<array>
			<string>message.statusmsg.isreaded</string>
			<string>message.statusmsg.readedlist</string>
			<string>message.statusmsg.recallmsg</string>
			<string>message.statusmsg.deletemsg</string>
			<string>message.statusmsg.pcloginin</string>
			<string>message.statusmsg.pcloginout</string>
		</array>
		<key>recent</key>
		<array>
			<string>message.recent.remove</string>
			<string>message.recent.setstick</string>
			<string>message.recent.setdisturb</string>
		</array>
		<key>group</key>
		<array>
			<string>message.group.creategroup</string>
			<string>message.group.adduser</string>
			<string>message.group.removeuser</string>
			<string>message.group.quitgroup</string>
			<string>message.group.assignadmin</string>
			<string>message.group.modifyname</string>
			<string>message.group.updategroup</string>
			<string>message.group.open</string>
			<string>message.group.close</string>
			<string>message.group.updatedisturb</string>
			<string>message.group.updateface</string>
			<string>message.group.updateisshow</string>
			<string>message.group.deletegroup</string>
		</array>
		<key>businessmessage</key>
		<array>
			<string>businessmessage.updatebusinessstatus</string>
		</array>
	</dict>
	<key>clouddiskapp</key>
	<dict>
		<key>recycle</key>
		<array>
			<string>clouddiskapp.recycle.add</string>
			<string>clouddiskapp.recycle.delete</string>
			<string>clouddiskapp.recycle.clear</string>
		</array>
		<key>share</key>
		<array>
			<string>clouddiskapp.share.delete</string>
			<string>clouddiskapp.share.add</string>
		</array>
		<key>normal</key>
		<array>
			<string>clouddiskapp.normal.add</string>
			<string>clouddiskapp.normal.update</string>
			<string>clouddiskapp.normal.updatename</string>
			<string>clouddiskapp.normal.delete</string>
			<string>clouddiskapp.normal.move</string>
		</array>
	</dict>
	<key>favorites</key>
	<dict>
		<key>add</key>
		<array>
			<string>favorites.add.single</string>
		</array>
		<key>remove</key>
		<array>
			<string>favorites.remove.single</string>
			<string>favorites.remove.multiple</string>
			<string>favorites.remove.type</string>
			<string>favorites.remove.all</string>
		</array>
	</dict>
</dict>
</plist>
