<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>dfl--收藏(52)</key>
	<dict/>
	<key>dfl--应用管理(90)</key>
	<dict/>
	<key>wzb--任务错误码(45)</key>
	<dict/>
	<key>wzb--任务模板(45)</key>
	<dict/>
	<key>wzb--工作组(45)</key>
	<dict/>
	<key>wzb--项目(45)</key>
	<dict/>
	<key>wzb--协作区成员邀请(45)</key>
	<dict/>
	<key>wzb--协作区成员(45)</key>
	<dict/>
	<key>wzb--协作区成员申请(50)</key>
	<dict/>
	<key>wzb--协作业务错误码(45)</key>
	<dict/>
	<key>wzb--任务错误码V2(75)</key>
	<dict/>
	<key>wzb--动态模块(46)</key>
	<dict/>
	<key>sy--协作区扩展应用(45)</key>
	<dict>
		<key>45041</key>
		<string>该协作不存在</string>
	</dict>
	<key>sy--协作文件(48)</key>
	<dict/>
	<key>sy--静态分类(53)</key>
	<dict/>
	<key>sy--文件服务(81)</key>
	<dict>
		<key>81007</key>
		<string>操作失败</string>
		<key>81010</key>
		<string>-</string>
	</dict>
	<key>sy--资源(47)</key>
	<dict>
		<key>53017</key>
		<string> 文件还原失败</string>
		<key>47020</key>
		<string>-</string>
		<key>47032</key>
		<string>-</string>
		<key>47004</key>
		<string>已被删除，删除失败</string>
		<key>47002</key>
		<string>修改失败</string>
		<key>47003</key>
		<string>删除失败</string>
		<key>53010</key>
		<string>还原失败</string>
		<key>47070</key>
		<string>收藏失败</string>
		<key>47033</key>
		<string>操作失败</string>
		<key>47030</key>
		<string>操作失败</string>
		<key>47027</key>
		<string>操作失败</string>
		<key>47026</key>
		<string>操作失败</string>
		<key>47083</key>
		<string>密码错误</string>
	</dict>
	<key>wch--登录(41)</key>
	<dict>
		<key>41001</key>
		<string>tokenid不存在</string>
		<key>41002</key>
		<string>tokenid过期</string>
		<key>41003</key>
		<string>已在其他地方登录</string>
		<key>41004</key>
		<string>密码错误</string>
		<key>41005</key>
		<string>帐号锁定</string>
		<key>41006</key>
		<string>tokenid未认证</string>
		<key>41007</key>
		<string>添加用户认证记录失败</string>
		<key>41008</key>
		<string>非法tokenid</string>
	</dict>
	<key>wch--用户(42)</key>
	<dict>
		<key>42056</key>
		<string>添加好友失败</string>
		<key>42065</key>
		<string>-</string>
		<key>42001</key>
		<string>获取某个帐号是否被注册失败</string>
		<key>42002</key>
		<string>保存用户信息失败</string>
		<key>42003</key>
		<string>更新用户信息失败</string>
		<key>42004</key>
		<string>当前用户不存在</string>
		<key>42005</key>
		<string>用户名与密码不正确</string>
		<key>42006</key>
		<string>人员加入组织失败</string>
	</dict>
	<key>wch--组织机构(43)</key>
	<dict/>
	<key>wch--消息(83)</key>
	<dict>
		<key>83001</key>
		<string>-</string>
	</dict>
</dict>
</plist>
